@model IEnumerable<FishPi.Models.FishPiCalculation>

@{
    ViewBag.Title = "Calculations";
}

<h2>Calculations</h2>

<p>
    @Html.ActionLink("Enter a new calculation", "FishPiCalculation")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Researcher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
		<th>
			@Html.DisplayNameFor(model => model.PiAsFraction)
		</th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Researcher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.PiAsFraction)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberID })
        </td>
    </tr>
}

</table>
